build
dist
lib/actions
lib/actionTypes
lib/bundle.*
lib/components
lib/initialState*
lib/reducers
lib/store*
lib/static/data/*
lib/static/data-bak/*
node_modules
npm-debug.log
src/static/data/*
!src/static/data/Pref*
!src/static/data/0_DoD_all.xlsx
!src/static/data/HarpAndGroup.xlsx
!src/static/data/NormalizedAddresses.csv
!src/static/data/Hotel*Previous.csv

# For historical pivotapp, used in mongodb-loader
!src/static/data/AEMedraComparison444.csv
!src/static/data/AEMedraComparison.csv
!src/static/data/AEMedraComparison-large.csv
!src/static/data/AIS_Benchmarks_MKT.csv
!src/static/data/AIS_Benchmarks_PE.csv
!src/static/data/AIS_Entities.csv
!src/static/data/AIS_Flows.csv
!src/static/data/AIS_Nav.csv
!src/static/data/AIS_SubEntities.csv
!src/static/data/arrow.csv
!src/static/data/bolliger-mabillard.csv
!src/static/data/Cambridge_PE_DPI_31Mar2018.csv
!src/static/data/Cambridge_PE_IRR_31Mar2018.csv
!src/static/data/Cambridge_PE_RVPI_31Mar2018.csv
!src/static/data/Cambridge_PE_TVPI_31Mar2018.csv
!src/static/data/Cambridge_VC_IRR_31Dec2017.csv
!src/static/data/gerstlauer.csv
!src/static/data/intamin.csv
!src/static/data/liver_lab_panel_analyses_1.csv
!src/static/data/liver_lab_panel_analyses_2_1.csv
!src/static/data/liver_lab_panel_analyses_2_2.csv
!src/static/data/liver_lab_panel_analyses_3.csv
!src/static/data/liver_lab_panel_analyses_4.csv
!src/static/data/liver_lab_panel_analyses_5.csv
!src/static/data/maurer-sohne.csv
!src/static/data/medra_ae_hm.csv
!src/static/data/medra-short-v2.csv
!src/static/data/medra-small.csv
!src/static/data/medra-tiny.csv
!src/static/data/morgan.csv
!src/static/data/Preqin_PE_Global_31Dec2018.csv
!src/static/data/Preqin_PE_Pooled_IRR_31Dec2018.csv
!src/static/data/Preqin_VC_Global_31Dec2018.csv
!src/static/data/Preqin_VC_Pooled_IRR_31Dec2018.csv
!src/static/data/schwarzkopf.csv
!src/static/data/SPY-prices.csv
!src/static/data/SPY-yields.csv
!src/static/data/test1000.csv
!src/static/data/test10.csv
!src/static/data/test.csv
!src/static/data/vekoma.csv

src/static/data-bak/*
reports
reports_by_chain
reports_score
tableau
